header {
    background-color: rgb(255, 0, 0);
    color: #ff8721;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.cabecalho-imagem{
    width: 20%;
}